*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$square-size: 150px;
$squares-count: 4;

.board {
  border: 2px solid #000;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat($squares-count, 1fr);
  grid-template-rows: repeat($squares-count, 1fr);
  width: $square-size * $squares-count;
  height: $square-size * $squares-count;
}

.square {
  border: 1px solid #000;
  position: relative;

  // Make inner crossing borders thicker
  // second vertical row
  &:nth-child(4n-2) {
    border-right: 2px solid #000;
  }
  // second horizontal row
  &:nth-child(25),
  &:nth-child(30),
  &:nth-child(35),
  &:nth-child(40) {
    border-bottom: 2px solid #000;
  }

  .sidebar_toggle_label {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
  .sidebar_toggle_input:checked + .sidebar_toggle_label {
    border: solid 3px #aaa;
  }

  .sidebar_toggle_input {
    display: none;

    &:checked ~ .number_picker_sidebar {
      background: darksalmon;
      transition: transform 250ms ease-out;
      transform: translate(0, -50%);
      z-index: 1;
    }
  }

  .number_picker_sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    border: 1px solid #000;
    transition: transform 400ms ease-out;
  }

  .number_picker_label {
    width: 140px;
    height: 140px;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: center;

    &:hover {
      background-color: #ccc;
    }
  }
}

@for $i from 1 through 16 {
  @for $j from 1 through 4 {
    .number_picker_input[data-square-index='#{$i}'][value='#{$j}']:checked
      ~ .square[data-square-index='#{$i}']::before {
      content: '#{$j}';
      position: absolute;
      font-size: 3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.number_picker_input {
  width: 0;
  height: 0;
  user-select: none;
  opacity: 0;
  position: absolute;
}

// @for $i from 1 through 4 {
//   @for $j from 1 through 2 {
//     .square[data-x='#{$i}']:has(
//         .number_picker_input[value='#{$j}']:checked
//       ):has(~ .square[data-x='#{$i}']) {
//       background: pink !important;
//     }
//   }
// }

.board {
  --v: transparent;
}

@for $y from 1 through 4 {
  @for $value from 1 through 4 {
    body:has(
        .number_picker_input[value='#{$value}'][data-y='#{$y}']:checked
          ~ .number_picker_input[value='#{$value}'][data-y='#{$y}']:checked
      )
      .square[data-y='#{$y}'] {
      border-color: red;
    }
  }
}

@for $x from 1 through 4 {
  @for $value from 1 through 4 {
    body:has(
        .number_picker_input[value='#{$value}'][data-x='#{$x}']:checked
          ~ .number_picker_input[value='#{$value}'][data-x='#{$x}']:checked
      )
      .square[data-x='#{$x}'] {
      border-color: red;
    }
  }
}

@for $group from 1 through 4 {
  @for $value from 1 through 4 {
    body:has(
        .number_picker_input[value='#{$value}'][data-square-group='#{$group}']:checked
          ~ .number_picker_input[value='#{$value}'][data-square-group='#{$group}']:checked
      )
      .square[data-square-group='#{$group}'] {
      border-color: red;
    }
  }
}
